[submodule "roles/sudo"]
	path = roles/escapace.sudo
	url = https://github.com/escapace/ansible-sudo.git
[submodule "roles/epel"]
	path = roles/escapace.epel
	url = https://github.com/escapace/ansible-epel
[submodule "roles/ferm"]
	path = roles/escapace.ferm
	url = https://github.com/escapace/ansible-ferm
[submodule "roles/packagecloud"]
	path = roles/escapace.packagecloud
	url = https://github.com/escapace/ansible-packagecloud.git
[submodule "roles/ntp"]
	path = roles/escapace.ntp
	url = https://github.com/escapace/ansible-ntp
[submodule "roles/virtualbox"]
	path = roles/escapace.virtualbox
	url = https://github.com/escapace/ansible-virtualbox.git
[submodule "roles/ssh"]
	path = roles/escapace.ssh
	url = https://github.com/escapace/ansible-ssh.git
[submodule "roles/logrotate"]
	path = roles/escapace.logrotate
	url = https://github.com/escapace/ansible-logrotate.git
[submodule "roles/unattended-upgrades"]
	path = roles/escapace.unattended_upgrades
	url = https://github.com/escapace/ansible-unattended_upgrades.git
[submodule "roles/duo_unix"]
	path = roles/escapace.duo_unix
	url = https://github.com/escapace/ansible-duo_unix.git
[submodule "roles/docker"]
	path = roles/escapace.docker
	url = https://github.com/escapace/ansible-docker.git
[submodule "roles/escapace.dotfiles"]
	path = roles/escapace.dotfiles
	url = https://github.com/escapace/ansible-dotfiles.git
[submodule "roles/escapace.dummy"]
	path = roles/escapace.dummy
	url = https://github.com/escapace/ansible-dummy
[submodule "roles/escapace.kresd"]
	path = roles/escapace.kresd
	url = https://github.com/escapace/ansible-kresd.git
[submodule "roles/escapace.aws-cloudwatch"]
	path = roles/escapace.aws_cloudwatch
	url = https://github.com/escapace/ansible-aws-cloudwatch.git
[submodule "roles/escapace.swap"]
	path = roles/escapace.swap
	url = https://github.com/escapace/ansible-swap.git
[submodule "roles/escapace.tuned"]
	path = roles/escapace.tuned
	url = https://github.com/escapace/ansible-tuned.git
[submodule "roles/escapace.tunnelbroker"]
	path = roles/escapace.tunnelbroker
	url = https://github.com/escapace/ansible-tunnelbroker.git
[submodule "roles/escapace.wireguard"]
	path = roles/escapace.wireguard
	url = https://github.com/escapace/ansible-wireguard.git
[submodule "roles/escapace.normalize"]
	path = roles/escapace.normalize
	url = https://github.com/escapace/ansible-normalize.git
[submodule "roles/escapace.tor"]
	path = roles/escapace.tor
	url = https://github.com/escapace/ansible-tor.git
[submodule "roles/escapace.bootstrap"]
	path = roles/escapace.bootstrap
	url = https://github.com/escapace/ansible-bootstrap.git
[submodule "roles/escapace.aws_cli"]
	path = roles/escapace.aws_cli
	url = https://github.com/escapace/ansible-aws_cli.git
[submodule "roles/escapace.aws_nat_instance"]
	path = roles/escapace.aws_nat_instance
	url = https://github.com/escapace/ansible-aws_nat_instance.git
[submodule "roles/escapace.consul"]
	path = roles/escapace.consul
	url = https://github.com/escapace/ansible-consul.git
[submodule "roles/escapace.lvm"]
	path = roles/escapace.lvm
	url = https://github.com/escapace/ansible-storage_setup
[submodule "roles/escapace.storage_setup"]
	path = roles/escapace.storage_setup
	url = https://github.com/escapace/ansible-storage_setup
